body {
    
    background-image: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=800&w=800');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
